attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cycler==0.10.0
decorator==4.4.0
Flask==1.1.2
Flask-JWT-Extended==3.18.1
Flask-WTF==0.14.3
idna==2.7
imagecodecs==2020.2.18
imageio==2.8.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsmin==3.0.0
jsonschema==3.0.1
jupyter-core==4.4.0
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
nbformat==4.4.0
numpy==1.18.3
peewee==3.9.4
Pillow==7.1.2
plotly==3.8.1
pooch==1.1.0
progress==1.5
psutil==5.6.1
psycopg2-binary==2.8.2
pydicom==1.2.2
PyJWT==1.7.1
pyocr==0.6
pyparsing==2.4.0
Pyro4==4.75
pyrsistent==0.14.11
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.1.1
requests==2.21.0
retrying==1.3.3
scikit-image==0.17.1
scipy==1.4.1
selectors34==1.2
serpent==1.28
simplejson==3.16.0
six==1.12.0
tifffile==2020.5.7
traitlets==4.3.2
urllib3==1.24.2
uWSGI==2.0.18
Werkzeug==1.0.1
WTForms==2.2.1
python-Levenshtein==0.12.2
